_site/

.DS_Store
*.aux
files/moderncv.cls
files/moderncvcolorblack.sty
files/moderncvcolorgreen.sty
files/moderncvcolorgrey.sty
files/moderncvcolororange.sty
files/moderncvcolorpurple.sty
files/moderncvcolorblue.sty
files/cv_Rigon.out
files/cv_Rigon.log
files/cv_Rigon.synctex.gz
files/cv_Rigon.tex
files/moderncvcolorred.sty
files/moderncv.log
files/moderncvcompatibility.sty
files/moderncvstylebanking.sty
files/moderncvstylecasual.sty
files/moderncvstyleclassic.sty
files/moderncvstyleempty.sty
files/moderncvstyleoldstyle.sty
files/tweaklist.sty
_posts/2017-10-02-logistic.html
_posts/2017-10-02-logistic.utf8.md
files/moderncvbodyi.sty
files/moderncvbodyv.sty
files/moderncvcolorburgundy.sty
files/moderncvdebugtools.sty
files/moderncvfooti.sty
files/moderncvheadi.sty
files/moderncvheadii.sty
files/moderncvcollection.sty
files/moderncvstylefancy.sty
files/moderncviconsmarvosym.sty
files/moderncviconsletters.sty
files/moderncviconsawesome.sty
files/moderncvbodyii.sty
files/moderncvbodyiii.sty
files/moderncvbodyiv.sty
files/moderncvheadiii.sty
files/moderncvheadiv.sty
files/moderncvheadv.sty
files/moderncvheadvi.sty
files/README
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
files/Tommaso_Rigon_Curriculum_Updated_9May.pdf
files/cv_Rigon_old.tex
files/cv_Rigon_old.pdf
.Rproj.user
tommasorigon.github.io.Rproj
tesi.Rmd
.Rhistory
.DS_Store
files/missfont.log
